/* HomePage.css */

.addHabitButton {
    background-color: #4CAF50;
    color: #ffffff;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
  }
  
  .addHabitButton:hover {
    background-color: #45a049;
  }
  
  h1 {
    font-size: 2.5rem;
    margin: 1rem;
  }
  
  .linkContainer {
    margin-left: 1rem;
    margin-bottom: 1rem;
  }
  
  .habitsGrid {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin: 1rem;
    padding: 1rem;
    max-width: 1200px;
  }
  